header.bg-indigo-600.p-4 
   .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-white.font-extrabold.text-center Bienes 
          span.font-normal Raices

        nav(class="my-5 text-sm md:flex md:items-center font-semibold text-white md: gap-3") 
          a(href='/auth/register' ) Crear Cuenta
          a(href="/auth/login" ) Inicia Secion

div(class="bg-indigo-700 py-5 hidden lg:block")
    div(class="container mx-auto flex justify-between")
       a(href="/categorias/1" class="text-sm font-bold uppercase text-white") Casas         
       a(href="/categorias/2" class="text-sm font-bold uppercase text-white") Apartamentos         
       a(href="/categorias/3" class="text-sm font-bold uppercase text-white") Bodegas         
       a(href="/categorias/4" class="text-sm font-bold uppercase text-white") Cabanas        
       a(href="/categorias/5" class="text-sm font-bold uppercase text-white") Terrenos         
          