header.bg-indigo-600.p-4 
   .container.mx-auto.flex.justify-between.items-center
      a(href="/")
        h1.text-2xl.text-white.font-extrabold.text-center Bienes 
          span.font-normal Raices

        nav(class="my-5 text-sm md:flex md:items-center font-semibold text-white md: gap-3") 
          a(href="/dashboard" ) Mi Propiedades
          a(href ) Mi Perfil
          form(action="/auth/cerrar-sesion" method="POST")
            input(type="hidden" name="_csrf" value= csrfToken) 
            input(type="submit" value="Cerrar Sesion") 